@model HTML_Helpers.Models.Datos

@{
    ViewBag.Title = "Resultado";
}

<h2 align="center">Informacion</h2>

<table class="table table-hover table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(model => model.Cedula)</td>
        <td>@Html.DisplayFor(model => model.Nombre)</td>
        <td>@Html.DisplayFor(model => model.Apellido)</td>
        <td>@Html.DisplayFor(model => model.Edad)</td>
        <td>@Html.DisplayFor(model => model.Telefono)</td>
        <td>@Html.DisplayFor(model => model.Correo)</td>
        <td>@Html.DisplayFor(model => model.Genero)</td>
        <td>@Html.DisplayFor(model => model.Estado)</td>
    </tr>

</table>
<h3 align="center">Gustos Personales</h3>
<table class="table table-hover table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayName("Basketball")
        </th>
        <th>
            @Html.DisplayName("Peliculas")
        </th>
        <th>
            @Html.DisplayName("Baseball")
        </th>
        <th>
            @Html.DisplayName("Programar")
        </th>

    </tr>

    <tr>
        <td>@Html.DisplayFor(model => model.Hobby1, new { htmlAttributes = new { @class = "checkbox" } })</td>
        <td> @Html.DisplayFor(model => model.Hobby2, new { htmlAttributes = new { @class = "checkbox" } })</td>
        <td>@Html.DisplayFor(model => model.Hobby3, new { htmlAttributes = new { @class = "checkbox" } })</td>
        <td>@Html.DisplayFor(model => model.Hobby4, new { htmlAttributes = new { @class = "checkbox" } })</td>
    </tr>

</table>
<p>
    @Html.ActionLink("Registrar", "Formulario")
</p>